#about{

    p{
        text-align: justify;

        @include breakpoint(small down) {
            text-align: left;
        }

        a{
            color: $secondary;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}
