#banner{
    margin-top: 0;
    height: 100vh;
    padding: 0;
    position: relative;

    .swiper-slide{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .banner-text{
        position: absolute;
        top: 60%;
        left: 76%;
        transform: translate(-50%, -50%);
        width: 40%;
        text-align: left;

        @include breakpoint(medium down) {
            top: 50%;
            left: 50%;
            width: 80%;
        }

        @include breakpoint(small down) {
            width: 95%;
        }

        h2, h3, p{
            color: $white;
            padding: rem-calc(5 15);
            font-weight: bold;
            text-align: left;

            @include breakpoint(medium down) {
                color: $black;
                display: inline-block;
                background-color: rgba(255,255,255,0.8);
                padding: rem-calc(5 15);
                border: solid rem-calc(1) $white;
            }
        }

        h2, h3{
            font-size: rem-calc(32);
            margin-bottom: rem-calc(30);
            text-transform: none;

            &::after, &::before{
                content: none;
            }
        }

        p{
            width: 70%;
        }
    }
}
