#contact{

    a{
        color: $secondary;
    }

    h3{
        font-size: rem-calc(28);
        font-weight: bold;
        color: $secondary;
    }

    p{
        margin-bottom: 0;
    }

    .contact-details{
        border: solid rem-calc(1) $primary;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(small down) {
            margin-top: rem-calc(30);
            height: auto;
        }

        &-block{
            margin: rem-calc(100 0);

            @include breakpoint(medium down) {
                margin: rem-calc(30 20);
            }
        }
    }

    .footer{

        &--map-container{
            height: 100%;

            iframe{
                height: 100%;

                @include breakpoint(small down) {
                    min-height: rem-calc(500);
                }
            }
        }

        &--logo-container{
            max-width: rem-calc(250);
            margin: auto;
            margin-top: rem-calc(100);

            @include breakpoint(large down) {
                margin: rem-calc(30);
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
