.footer{
	transition: 0.3s all;

	.scroll-button{
      display: none;
      position: fixed;
      overflow: hidden;
      height: rem-calc(50);
      width: rem-calc(50);
      right: rem-calc(20);
			bottom: rem-calc(20);
      font-size: rem-calc(20);
      text-align: center;
      line-height: rem-calc(50);;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: rem-calc(1 3 12) rgba(0, 0, 0, 0.3);
      background: $white;
      z-index: 10;
			transition: all .3s;

			&:hover{
				box-shadow: rem-calc(1 7 19) rgba(0, 0, 0, 0.3);
			}
  }
}
