header.header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	opacity: 1;
	transition: .8s all;
	height: auto;
	z-index: 2;
	background-color: $white;
	padding-bottom: rem-calc(5);

	.grid-container{
		position: relative;
	}

	.top-bar{
		padding: 0;
		padding-bottom: 0;
		position: relative;
		background-color: $white;

		.menu {
			background-color: $white;

			>li{

				a{

					color: $header_font_color;
					text-transform: uppercase;
					font-weight: bold;
					transition: all 0.3s;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.menu>li a{
			padding-left: 0;
		}

		.top-bar-right{
			display: flex;
			align-items: center;
		}
	}

	// GOOGLE TRANSLATE
	.gtranslate-widget{
		position: relative;
		top: rem-calc(-16);

		.gt_switcher{
			width: rem-calc(36);
			position: absolute;
			left: 0;
			top: 0;
			z-index: 999;
			border: 1px solid #ccc;

			.gt_option {
				width: rem-calc(36);
				border: 0;
			}

			.gt_selected{

				a{
					width: rem-calc(26);
					border: 0;

					&::after{
						display: none;
					}
				}
			}
		}
	}

	// MOBILE MENU
	.top-bar-right.show-for-small-only{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		right: rem-calc(15);
		transform: translateY(-50%);

		.gtranslate-widget{
			margin-right: rem-calc(15);
		}

		.menu{

			li{

				button{

					&::after{
						background: $header_font_color;
						box-shadow: 0 7px 0 $header_font_color, 0 14px 0 $header_font_color;
					}

					&:hover{
						&::after{
							background: #323232;
							box-shadow: 0 7px 0 #323232, 0 14px 0 #323232;
						}
					}
				}
			}
		}
	}
}

// OFFCANVAS Menu
#offcanvas-nav{

	li{
		border-bottom: solid rem-calc(1) $secondary;

		a{
			text-transform: uppercase;
			color: $header_font_color;
			font-weight: bold;
			transition: all .3s;
			padding-top: rem-calc(15);
			padding-bottom: rem-calc(15);

			&:hover{
				text-decoration: underline;
			}
		}
	}
}

header.header-scrolled{
	opacity: 0;
	margin-top: rem-calc(-79);
}

.off-canvas{
	background-color: $white;
}
