#offer{

    @include breakpoint(medium down) {
        padding-bottom: 0;
    }

    .card{
        justify-content: space-between;
        padding: rem-calc(20);
        background-color: $white;
        text-align: center;
        margin-bottom: 0;
        border-color: $primary;
        color: $primary;

        img{
            margin-bottom: rem-calc(15);
        }

        button, p{
            margin-bottom: 0;
        }

        button{
            text-transform: uppercase;
            box-shadow: 0;
            border: rem-calc(1) solid $secondary;
            color: $secondary;

            &:hover{
                background-color: $secondary;
                color: $white;
            }
        }

        p.button-container{
            padding-top: rem-calc(10);
            border-top: solid rem-calc(1) $secondary;
            width: 80%;
            margin: 0 auto;

            @include breakpoint(small down) {
                border-top: none;
            }
        }

        p:not(button-container){


            @include breakpoint(small down) {
                margin-bottom: rem-calc(40);
            }
        }
    }
}

.reveal-overlay{

    @include breakpoint(small down) {
        overflow-y: hidden;
    }
}
.reveal{
    overflow: hidden;
    top: rem-calc(40)!important;

    @include breakpoint(small down) {
        top: auto;
        overflow-y: visible;
    }

    &.large{
        max-width: rem-calc(1300);
        margin-bottom: rem-calc(40);
    }

    .close-button{
        background-color: white;
        width: 30px;
        height: 30px;
        border: solid 1px $secondary;
    }
}

.reveal-container{
    overflow: hidden;

    &--content{
        padding: rem-calc(20 0 20 30);
        text-align: left;
        min-height: 90vh;

        @include breakpoint(medium down) {
            padding-right: rem-calc(30);
            min-height: auto;
        }

        &-icon{

            img{
                min-height: rem-calc(132);
            }
        }

        h3{
            font-size: rem-calc(24);
            font-weight: 500;
            margin-top: 0;
        }

        p, ul{
            text-align: left;
        }
    }

    &--img{
        height: 100%;

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;

            @include breakpoint(medium down) {
                height: auto;
            }
        }
    }
}
