.content-subpage{
    margin-top: rem-calc(150);

    p,li{
        text-align: justify;

        @include breakpoint(small down) {
    		text-align: left;
    	}
    }

    a{
        color: $secondary;

        &:hover{
            text-decoration: underline;
        }
    }
}
