#team{
    background-repeat: no-repeat;
    background-size: rem-calc(899 1052);
    background-position: -20% 52%;
    margin-top: 0;
    padding-top: rem-calc(140);

    @include breakpoint(medium down) {
        padding-top: rem-calc(20);
        padding-bottom: 0;
    }

    .cell{

        @include breakpoint(large down) {
            margin-bottom: rem-calc(30);
        }
    }

    .card{
        position: relative;
        border-color: $primary;
        height: 100%;
        text-align: left;

        .scroll-button-icon{
            position: absolute;
            bottom: rem-calc(7);
            right: rem-calc(6);
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            transition: all 1s;

            .mouse{
                display: block;
                position: relative;
                width: rem-calc(15);
                height: rem-calc(30);
                border: solid rem-calc(2) $white;
                border-radius: rem-calc(15);

                &:before {
                    content: '';
                    display: inline-block;
                    width: rem-calc(2);
                    height: rem-calc(6);
                    position: absolute;
                    top: rem-calc(7);
                    left: rem-calc(4.7);
                    background-color: $white;
                    animation: mouse_animation 2.75s ease-in-out infinite;
                }
            }

            @keyframes mouse_animation {
                0% {
                    transform: scale(1,0);
                    transform-origin: 50% 0;
                }
                20%, 80% {
                    transform: scale(1,1);
                }
                81% {
                    transform-origin: 50% 100%;
                }
                100% {
                    transform: scale(1,0);
                    transform-origin: 50% 100%;
                }
            }
        }

        .hidden-container{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            visibility: hidden;
            z-index: -1;
            transition: all 1s;
            transition-delay: 2s;
        }

        &::after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 98%;
            height: 98.5%;
            display: block;
            z-index: 1;
            border: solid rem-calc(1) $white;
        }

        img{
            object-fit: cover;
        }

        &__content{
            height: 100%;
            padding: rem-calc(17);
            margin: rem-calc(3);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: rem-calc(60);

            @include breakpoint(large down) {
                padding-bottom: rem-calc(17);
            }

            @include breakpoint(small down) {
                padding-bottom: rem-calc(40);
            }

            p{
                margin-top: rem-calc(20);

                &:first-child{
                    font-size: rem-calc(20);

                    @include breakpoint(small down) {
                        font-size: rem-calc(24);
                    }
                }
            }

            .content-hidden{
                z-index: 2;
                padding: rem-calc(0 10 20 30);
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                visibility: hidden;
                transform: translate(-50%, -50%) scale(0);
                color: #fff;
                animation: hollowClose 1s forwards;

                @include breakpoint(small down) {
                    padding: rem-calc(27 10 10 20);
                }

                p{
                    font-size: rem-calc(16);

                    @include breakpoint(small down) {
                        font-size: rem-calc(14);
                    }
                }

                a{
                    color: $secondary;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            @keyframes hollowClose{
                from{
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
                to{
                    opacity: 0;
                    visibility: hidden;
                    transform: scale(0);
                }
            }

            .close{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 0;
                right: 0;
                width: rem-calc(30);
                height: rem-calc(30);
                background-color: #fff;
                line-height: rem-calc(30);
                font-size: rem-calc(20);
                transition: all 1s;
                border-radius: 0;
                cursor: pointer;
                z-index: 3;

                span{
                    transition: all .5s;
                }
            }

            .button{
                position: absolute;
                bottom: rem-calc(5);
                right: rem-calc(5);
                box-shadow: 0 0 0 0 $primary;
                transition: background-color .5s, color .5s, box-shadow 2s;
                box-shadow: 0;
                border: rem-calc(1) solid $secondary;
                color: $secondary;
                z-index: 2;
                margin-bottom: 0;
                padding: rem-calc(2 5);

                &:hover{
                    background-color: $secondary;
                    color: $white;
                }
            }
        }

        &.active{

            .hidden-container{
                z-index: auto;
                visibility: visible;
            }

            .scroll-button-icon{

                &.active{
                    opacity: 1;
                    visibility: visible;
                }
            }

            .card__content{

                .content-hidden{
                    animation: hollowOpen 1.5s .5s forwards;

                    p{

                        @include breakpoint(small down) {
                            margin-top: rem-calc(10);
                            margin-bottom: rem-calc(10);
                        }
                    }
                }

                @keyframes hollowOpen{
                    from{
                        opacity: 0;
                        visibility: hidden;
                        transform: scale(0);
                    }
                    to{
                        opacity: 1;
                        visibility: visible;
                        transform: scale(1);
                    }
                }

                .close{
                    opacity: 1;
                    visibility: visible;

                    span{
                        position: relative;
                        top: rem-calc(-1);
                    }

                    &:hover{

                        span{
                            opacity: .5;
                        }
                    }
                }

                .button{

                    box-shadow: 0 0 0 rem-calc(1000) #000;
                    background-color: #000;
                    color: #000;
                    border: 0;
                    cursor: default;
                }
            }
        }
    }
}
